.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ff0000;
}

.message {
  font-size: 2rem;
  color: #ff0000;
}

.link {
  margin-top: 20px;
  color: #00ffff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.link:hover {
  border-bottom: 2px solid #00ffff;
}
